youtube-dl
mutagen
ffmpeg
python-telegram-bot
requests
updates
ffprobe
aiohttp
anytree
aria2p
appdirs
attrdict
beautifulsoup4
cloudscrape
feedparser
gunicorn
hachoir
js2py
lk21
lxml
pillow
psutil
PySide2
psycopg2-binary
pybase64
pyrogram
pyshorteners
python-dotenv
python-magic
python-telegram-bot
qbittorrent-api
requests
speedtest-cli
telegraph
tenacity
TgCrypto
torrentool==1.1.0
urllib3
